// MAIN
$main-bg: hsl(268, 75%, 9%);
$toggle-and-keypad-bg: hsl(268, 71%, 12%);

// KEYS
$key-bg: hsl(281, 89%, 26%);
$key-shadow: hsl(285, 91%, 52%);
$key-bg-toggle: hsl(176, 100%, 44%);
$key-bg-toggle-shadow: hsl(177, 92%, 70%);
$key-bg-2: hsl(268, 47%, 21%);
$key-shadow-2: hsl(290, 70%, 36%);

// TEXT
$primary-text: hsl(52, 100%, 62%);
$secondary-text: hsl(198, 20%, 13%);
$white: hsl(0, 0%, 100%);