// @use './themes/colors-theme-1' as c1;
// @use './themes/colors-theme-2';
// @use './themes/colors-theme-3';

$main-bg: --main-bg;

// $theme-2: (
// 	$--main-bg: red,
// );

$theme1: (
	// PRIMARY
	$main-bg: hsl(221, 27%, 31%),
	// $toggle-and-keypad-bg: hsl(223, 31%, 20%),
	// $screen-bg: hsl(224, 36%, 15%),
	// // KEYS
	// $key-bg: hsl(225, 21%, 49%),
	// $key-shadow: hsl(224, 28%, 35%),
	// $key-bg-toggle: hsl(6, 63%, 50%),
	// $key-bg-toggle-shadow: hsl(6, 70%, 34%),
	// $key-bg-2: hsl(30, 25%, 89%),
	// $key-shadow-2: hsl(28, 16%, 65%),
	// // TEXT
	// $primary-text: hsl(221, 14%, 31%),
	// $white: hsl(0, 0%, 100%)
);
