// PRIMARY
$main-bg: hsl(0, 0%, 90%);
$toggle-and-keypad-bg: hsl(0, 5%, 81%);
$screen-bg: hsl(0, 0%, 93%);

//  KEYS
$key-bg: hsl(185, 42%, 37%);
$key-shadow: hsl(185, 58%, 25%);
$key-bg-toggle: hsl(25, 98%, 40%);
$key-bg-toggle-shadow: hsl(25, 99%, 27%);
$key-bg-2: hsl(45, 7%, 89%);
$key-shadow-2: hsl(35, 11%, 61%);

//  TEXT
$primary-text: hsl(60, 10%, 19%);
$white: hsl(0, 0%, 100%);
