@use 'variables' as *;

// THEME 1
$theme1: (
	// PRIMARY
	$main-bg: hsl(221, 27%, 31%),
	$toggle-and-keypad-bg: hsl(223, 31%, 20%),
	$screen-bg: hsl(224, 36%, 15%),
	// KEYS
	$key-bg: hsl(225, 21%, 49%),
	$key-shadow: hsl(224, 28%, 35%),
	$key-bg-hover: hsl(225, 21%, 70%),
	$key-shadow-hover: hsl(224, 28%, 50%),
	$key-bg-toggle: hsl(6, 63%, 50%),
	$key-bg-toggle-shadow: hsl(6, 70%, 34%),
	$key-bg-toggle-hover: hsl(6, 63%, 57%),
	$key-bg-toggle-shadow-hover: hsl(6, 70%, 41%),
	$key-bg-2: hsl(30, 25%, 89%),
	$key-shadow-2: hsl(28, 16%, 65%),
	$key-bg-2-hover: hsl(30, 25%, 100%),
	$key-shadow-2-hover: hsl(28, 16%, 76%),
	// TEXT
	$primary-text: hsl(0, 0%, 100%),
	$key-text: hsl(221, 14%, 31%),
	$key-sum-text: hsl(0, 0%, 100%),
	$white: hsl(0, 0%, 100%)
);

// THEME 2
$theme2: (
	// PRIMARY
	$main-bg: hsl(0, 0%, 90%),
	$toggle-and-keypad-bg: hsl(0, 5%, 81%),
	$screen-bg: hsl(0, 0%, 93%),
	//  KEYS
	$key-bg: hsl(185, 42%, 37%),
	$key-shadow: hsl(185, 58%, 25%),
	$key-bg-hover: hsl(185, 42%, 58%),
	$key-shadow-hover: hsl(185, 58%, 40%),
	$key-bg-toggle: hsl(25, 98%, 40%),
	$key-bg-toggle-shadow: hsl(25, 99%, 27%),
	$key-bg-toggle-hover: hsl(25, 98%, 47%),
	$key-bg-toggle-shadow-hover: hsl(25, 99%, 34%),
	$key-bg-2: hsl(45, 7%, 89%),
	$key-shadow-2: hsl(35, 11%, 61%),
	$key-bg-2-hover: hsl(45, 7%, 100%),
	$key-shadow-2-hover: hsl(35, 11%, 72%),
	//  TEXT
	$primary-text: hsl(60, 10%, 19%),
	$key-text: hsl(60, 10%, 19%),
	$key-sum-text: hsl(0, 0%, 100%),
	$white: hsl(0, 0%, 100%)
);

// THEME3
$theme3: (
	// MAIN
	$main-bg: hsl(268, 75%, 9%),
	$toggle-and-keypad-bg: hsl(268, 71%, 12%),
	$screen-bg: hsl(268, 71%, 12%),
	// KEYS
	$key-bg: hsl(281, 89%, 26%),
	$key-shadow: hsl(285, 91%, 52%),
	$key-bg-hover: hsl(281, 89%, 47%),
	$key-shadow-hover: hsl(285, 91%, 67%),
	$key-bg-toggle: hsl(176, 100%, 44%),
	$key-bg-toggle-shadow: hsl(177, 92%, 70%),
	$key-bg-toggle-hover: hsl(176, 100%, 78%),
	$key-bg-toggle-shadow-hover: hsl(177, 92%, 77%),
	$key-bg-2: hsl(268, 47%, 21%),
	$key-shadow-2: hsl(290, 70%, 36%),
	$key-bg-2-hover: hsl(268, 56%, 45%),
	$key-shadow-2-hover: hsl(290, 70%, 47%),
	// TEXT
	$primary-text: hsl(52, 100%, 62%),
	$key-text: hsl(52, 100%, 62%),
	$key-sum-text: hsl(198, 20%, 13%),
	$white: hsl(0, 0%, 100%)
);
