@media (min-width: 768px) {
	.calc {
		max-width: 600px;
	}
	.theme-box {
		&__theme-number,
		&__label {
			font-size: 1.7rem;
		}
	}

	.calc-result {
		&__text {
			font-size: 5rem;
		}
	}

	// CALC KEYS
	.calc-keys {
		&__key {
			font-size: 2.5rem;
		}
	}

	// FOOTER ATTRIBUTION
	.attribution {
		bottom: 1rem;
		font-size: 1.5rem;
	}
}
