@media (min-width: 315px) {
	.calc-keys {
		&__key {
			font-size: 2rem;
		}
	}
}

@media (min-width: 350px) and (min-height: 641px) {
	.calc-keys {
		&__key {
			font-size: 2.2rem;
			padding: 0.8em 0.3em;
		}
	}
}
