@use 'colors' as *;
@use 'mixins' as *;

[data-theme='theme-1'] {
	@include theme($theme1);
}

[data-theme='theme-2'] {
	@include theme($theme2);
}

[data-theme='theme-3'] {
	@include theme($theme3);
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'League Spartan', sans-serif;
	font-size: 3.2rem;
	background-color: var(--main-bg);
}
.calc {
	padding: 0.7em;
}

// CALC HEADER
.calc-header {
	display: flex;
	justify-content: space-between;
	color: var(--white);

	&__heading {
		width: 40%;
		font-size: 4rem;
	}
}

.theme {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60%;
}

.theme-box {
	align-self: flex-end;

	&:first-of-type {
		display: flex;
		justify-content: space-around;
		margin-bottom: 0.2em;
		padding-left: 5px;
		width: 7rem;
	}

	&:last-of-type {
		width: 100%;
		max-width: 145px;
	}

	&__theme-number {
		font-size: 1.5rem;
	}

	&__label {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.5rem;
		text-transform: uppercase;
	}

	&__range {
		align-items: center;
		appearance: none;
		padding: 5px;
		height: calc(8rem / 3);
		width: 7rem;
		background-color: var(--toggle-and-keypad-bg);
		border-radius: 25px;
		cursor: pointer;

		&::-webkit-slider-thumb,
		&::-moz-range-thumb {
			height: calc(5rem / 3);
			width: calc(5rem / 3);
			border-radius: 50%;
			background-color: var(--key-bg-toggle);
			border: none;
		}
	}
}

// CALC RESULT
.calc-result {
	margin: 0.8em 0 0.7em;
	padding: 0.5em 0.5em;
	width: 100%;
	text-align: right;
	background-color: var(--screen-bg);
	border-radius: 10px;

	&__text {
		color: var(--white);
	}
}

// CALC KEYS
.calc-keys {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 0.4em;
	background-color: var(--toggle-and-keypad-bg);
	border-radius: 10px;

	&__key {
		width: calc((100% - 0.6em * 4) / 4);
		margin: 0.5em 0.3em;
		padding: 0.8em 0.3em;
		font-size: 2.3rem;
		font-weight: bold;
		color: var(--primary-text);
		background-color: var(--key-bg-2);
		border: none;
		border-radius: 5px;
		box-shadow: 0 5px 0 0 var(--key-shadow-2);
		cursor: pointer;

		&:nth-of-type(4),
		&:nth-of-type(-2) {
			text-transform: uppercase;
		}

		&--functional {
			width: calc(100% / 2 - 0.6em);
		}
	}
}
// FOOTER - ATTRIBUTION
.attribution {
	font-size: 1.1rem;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);

	&:hover {
		color: hsl(200, 85%, 40%);
	}
}
