@use 'colors' as *;
@use 'mixins' as *;

[data-theme='theme-1'] {
	@include theme($theme1);
}

[data-theme='theme-2'] {
	@include theme($theme2);
}

[data-theme='theme-3'] {
	@include theme($theme3);
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--main-bg);
}

// body {
// 	font-family: 'League Spartan', sans-serif;
// 	font-size: 3.2rem;
// 	background-color: c1.$main-bg;
// }

// // CALC HEADER
// .calc-header {
// 	display: flex;
// 	justify-content: space-between;
// 	color: c1.$white;
// 	padding: 1em;

// 	&__heading {
// 		font-size: 4rem;
// 		width: 50%;
// 	}
// }

// .theme {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-between;
// 	width: 50%;
// }

// .theme-box {
// 	&:first-of-type {
// 		display: flex;
// 		justify-content: space-around;
// 		align-self: flex-end;
// 		width: 6rem;
// 	}

// 	&__theme-number {
// 		font-size: 1.5rem;
// 	}

// 	&__label {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 		font-size: 1.5rem;
// 		text-transform: uppercase;
// 	}

// 	&__range {
// 		appearance: none;
// 		background-color: c1.$toggle-and-keypad-bg;
// 		padding: 5px;
// 		border-radius: 25px;
// 		height: calc(6rem / 3);
// 		width: 6rem;
// 		cursor: pointer;

// 		&::-moz-range-thumb {
// 			background-color: c1.$key-bg-toggle;
// 			border: none;
// 		}
// 	}
// }

// // FOOTER - ATTRIBUTION
// .attribution {
// 	font-size: 1.1rem;
// 	text-align: center;
// }

// .attribution a {
// 	color: hsl(228, 45%, 44%);

// 	&:hover {
// 		color: hsl(200, 85%, 40%);
// 	}
// }

// ### Body Copy

// - Font size (numbers): 32px

// ### Font

// - Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
// - Weights: 700
