@use 'colors' as *;
@use 'mixins' as *;

[data-theme='theme-1'] {
	@include theme($theme1);
}

[data-theme='theme-2'] {
	@include theme($theme2);
}

[data-theme='theme-3'] {
	@include theme($theme3);
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0.7em;
	font-family: 'League Spartan', sans-serif;
	font-size: 3.2rem;
	background-color: var(--main-bg);
}

.calc {
	margin: 0 auto;
	width: 100%;
	max-width: 450px;
}

// CALC HEADER
.calc-header {
	display: flex;
	justify-content: space-between;
	color: var(--primary-text);

	&__heading {
		width: 40%;
		font-size: 4rem;
	}
}

.theme {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60%;
}

.theme-box {
	align-self: flex-end;

	&:first-of-type {
		display: flex;
		justify-content: space-around;
		margin-bottom: 0.2em;
		padding-left: 5px;
		width: 7rem;
	}

	&:last-of-type {
		width: 100%;
		max-width: 145px;
	}

	&__theme-number {
		font-size: 1.5rem;
	}

	&__label {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.5rem;
		text-transform: uppercase;
	}

	&__range {
		appearance: none;
		padding: 5px;
		height: calc(8rem / 3);
		width: 7rem;
		background-color: var(--toggle-and-keypad-bg);
		border-radius: 25px;
		cursor: pointer;

		&::-moz-range-thumb {
			appearance: none;
			height: calc(5rem / 3);
			width: calc(5rem / 3);
			border-radius: 50%;
			border: none;
			background-color: var(--key-bg-toggle);
			box-shadow: 0 0 2px 1px var(--key-bg-toggle-shadow);

			&:hover {
				background-color: var(--key-bg-toggle-hover);
				box-shadow: 0 0 2px 1px var(--key-bg-toggle-shadow-hover);
			}
		}

		&::-webkit-slider-thumb {
			appearance: none;
			height: calc(5rem / 3);
			width: calc(5rem / 3);
			border-radius: 50%;
			border: none;
			background-color: var(--key-bg-toggle);
			box-shadow: 0 0 2px 1px var(--key-bg-toggle-shadow);

			&:hover {
				background-color: var(--key-bg-toggle-hover);
				box-shadow: 0 0 2px 1px var(--key-bg-toggle-shadow-hover);
			}
		}
	}
}

// CALC RESULT
.calc-result {
	margin: 0.9em 0 0.8em;
	padding: 0.5em;
	width: 100%;
	text-align: right;
	background-color: var(--screen-bg);
	border-radius: 10px;

	&__text {
		color: var(--primary-text);
	}
}

// CALC KEYS
.calc-keys {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 0.4em;
	background-color: var(--toggle-and-keypad-bg);
	border-radius: 10px;

	&__key {
		width: calc((100% - 0.6em * 4) / 4);
		margin: 0.5em 0.3em;
		padding: 0.6em 0.3em;
		font-size: 1.7rem;
		font-weight: bold;
		color: var(--key-text);
		background-color: var(--key-bg-2);
		border: none;
		border-radius: 5px;
		box-shadow: 0 4px 0 0 var(--key-shadow-2);
		cursor: pointer;

		&:hover {
			background-color: var(--key-bg-2-hover);
			box-shadow: 0 4px 0 0 var(--key-shadow-2-hover);
		}

		&:nth-of-type(4),
		&:nth-last-of-type(2) {
			color: var(--white);
			background-color: var(--key-bg);
			box-shadow: 0 4px 0 0 var(--key-shadow);
			text-transform: uppercase;

			&:hover {
				background-color: var(--key-bg-hover);
				box-shadow: 0 4px 0 0 var(--key-shadow-hover);
			}
		}

		&:nth-last-of-type(1) {
			color: var(--key-sum-text);
			background-color: var(--key-bg-toggle);
			box-shadow: 0 4px 0 0 var(--key-bg-toggle-shadow);

			&:hover {
				background-color: var(--key-bg-toggle-hover);
				box-shadow: 0 4px 0 0 var(--key-bg-toggle-shadow-hover);
			}
		}

		&--functional {
			width: calc(100% / 2 - 0.6em);
		}
	}
}
// FOOTER - ATTRIBUTION
.attribution {
	font-size: 1.1rem;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);

	&:hover {
		color: hsl(200, 85%, 40%);
	}
}
