// PRIMARY
$main-bg: --main-bg;
$toggle-and-keypad-bg: --toggle-and-keypad-bg;
$screen-bg: --screen-bg;

// KEYS
$key-bg: --key-bg;
$key-shadow: --key-shadow;
$key-bg-toggle: --key-bg-toggle;
$key-bg-toggle-shadow: --key-bg-toggle-shadow;
$key-bg-2: --key-bg-2;
$key-shadow-2: --key-shadow-2;

// TEXT
$primary-text: --primary-text;
$secondary-text: --secondary-text;
$white: --white;
